extends ../layouts/default
append pagespecificstyles
  //- 
block sidebar
block topbar
  include ../partials/dashboard-topbar
append scripts
  script(src='/javascripts/jquery.quicksearch.js')
  script(type='text/javascript').
    $('input#search').quicksearch('.itemdiv', {
      selector: '.name',
      loader: 'span.loading'
    });
    
    //right & left position
    //show the user info on right or left depending on its position
    $('.memberdiv').on('mouseenter touchstart', function(){
      var $this = $(this);
      var $parent = $this.closest('.row');

      var off1 = $parent.offset();
      var w1 = $parent.width();

      var off2 = $this.offset();
      var w2 = $this.width();

      var place = 'left';
      if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) place = 'right';

      $this.find('.popover').removeClass('right left').addClass(place);
    }).on('click', function(e) {
      //- e.preventDefault();
    });

block small
  |&nbsp;&nbsp;
  form.inline.form-vertical(role='form')
    .form-group
      span.input-icon.input-icon-right
        input#search(type='text', placeholder='Search ...')
        i.ace-icon.fa.fa-search.blue
  span.loading(style='display:none;') 
    i.ace-icon.fa.fa-spinner.fa-spin.orange.bigger-125
    //- |&nbsp;Loading ...
block content
  if messages.error
    .alert.alert-danger.center #{messages.error}
  .row
    .col-xs-12
      if patients.length == 0
        .alert.alert-info.center No patients to display. 
      else
        each user in patients
          .profile-users.clearfix
            .itemdiv.memberdiv
              .inline.pos-rel
                .user
                  - var target = '__patient';
                  a(href='/patients/#{user.id}', target= target)
                    img(alt='#{user.name.full} avatar' src= Boolean(user.picture) ? user.picture : '/assets/avatars/avatar2.png')
                .body
                  .name
                    a(href='/patients/#{user.id}', target= target)
                      span.user-status.status-online
                      |&nbsp;#{user.name.full}
                .popover
                  .arrow
                  .popover-content
                    .bolder About me ...
                    .time!= user.bioData.about
                    .hr.dotted.hr-8
                    .tools.action-buttons
                      a(href='#')
                        i.ace-icon.fa.fa-phone-square.blue.bigger-150
                        | &nbsp;Call
                      //- i.ace-icon.fa.fa-clock-o.middle.bigger-120.orange
                      //- span.green &nbsp; #{moment(session.lastLogin).format('Do MMMM')}
                      
