extends ../layouts/default
append pagespecificstyles
  //- page specific styles
  link(rel='stylesheet', href='/assets/css/jquery-ui.custom.css')
  link(rel='stylesheet', href='/assets/css/jquery.gritter.css')
  link(rel='stylesheet', href='/assets/css/select2.css')
  link(rel='stylesheet', href='/assets/css/datepicker.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-editable.css')
  link(rel='stylesheet', href='/assets/css/daterangepicker.css')
//- block chat
block sidebar
block topbar
  include ../partials/dashboard-topbar
append scripts
  //- page specific scripts
  script(type='text/javascript').
    var DOC = "#{doc}";
  script(src='/assets/js/jquery-ui.custom.js')
  script(src='/assets/js/jquery.ui.touch-punch.js')
  script(src='/assets/js/jquery.gritter.js')
  script(src='/assets/js/bootbox.js')
  script(src='/assets/js/jquery.easypiechart.js')
  script(src='/assets/js/date-time/bootstrap-datepicker.js')
  script(src='/assets/js/date-time/daterangepicker.js')
  script(src='/assets/js/jquery.hotkeys.js')
  script(src='/assets/js/bootstrap-wysiwyg.js')
  script(src='/assets/js/select2.js')
  script(src='/assets/js/fuelux/fuelux.spinner.js')
  script(src='/assets/js/x-editable/bootstrap-editable.js')
  script(src='/assets/js/x-editable/ace-editable.js')
  script(src='/assets/js/jquery.maskedinput.js')
  script(src='/javascripts/doctors-profile.js')
  script(type='text/javascript').
    jQuery(function($) {
      
      $.fn.editable.defaults.url = '/doctors/request';
      $.fn.editable.defaults.params = function(params) {
        params._csrf = "#{csrftoken}";
        return params;
      }
      $.fn.editable.defaults.pk = 'optional';
      $.fn.editable.defaults.mode = 'inline';
      $.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
      $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>'+
                                    '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';

      //editables

      //text editable
        $('#username')
        .editable({
          type: 'text',
          name: 'username',
          //- pk: '3',
          validate: function(value) {
            if($.trim(value) == '') {
              return "This field is required."
            }
            
            //- if()
          }
        });
      });
block content
  .user-profile.row
    if messages.error
      .alert.alert-block.alert-danger
        |#{messages.error}
    if messages.success
      .alert.alert-block.alert-success
        |#{messages.success}
    .col-xs-12.col-md-2.col-md-offset-2.center
      div
        span.profile-picture
          img.img-responsive(alt='#{user.name.full} avatar', src= Boolean(user.picture) ? user.picture : '/assets/avatars/avatar2.png', data-pk="#{user._id}")
        //- .space-2
        //- .width-80.label.label-info.label-xlg.arrowed-in.arrowed-in-right
        //-   span.white #{user.name.full}
      .space-6
    .col-xs-12.col-md-6
      .center#message
        if found
          span.label.label-lg.label-grey.arrowed-right Request status
          span.label.label-lg.label-light.arrowed-in.arrowed-right Pending
        else
          
          button.btn.btn-primary.btn-white#request
            span Send Chat Request
            i.icon-on-right.ace-icon.fa.fa-lightbulb-o
      .profile-user-info
        .profile-info-row
          .profile-info-name Name
          .profile-info-value
            span.editable#firstname= user.name.full
        .profile-info-row
          .profile-info-name Gender
          .profile-info-value
            span.editable#gender= user.bioData.gender
        .profile-info-row
          .profile-info-name Email
          .profile-info-value 
            span.editable#email= user.email
        .profile-info-row
          .profile-info-name Hospital
          .profile-info-value
            span.editable#hospital= user.doctor.is
        .profile-info-row
          .profile-info-name About Me
          .profile-info-value
            span.editable#about!= user.bioData.about
        .profile-info-row
          .profile-info-name Last Online
          .profile-info-value
            span.editable#lastonline= moment(session.lastLogin).format('dddd, Do MMMM YYYY h:mm:ss a')
        
        
