// #section:pages/inbox.message-list
#message-list.message-list
  // #section:pages/inbox.message-list.item
  mixin messageItem(message)
      if (message.sender).toString().indexOf(',') !== -1
        if message.sender.id == session.userId
          - var name = message.receiver.name.full
        else
          - var name = message.sender.name.full 
      else
        if message.sender == session.userId
          - var name = message.receiver.name.full
        else
          - var name = message.sender.name.full
        
      .message-item(class= message.status.read ? '' : 'message-unread')
        label.inline
          input.ace(type='checkbox', value= message.id)
          span.lbl
        span.sender(title= '#{name}')
          |&nbsp;#{name}
        span.time= momentTwitter(message.dateCreated).twitterLong()
        if message.attachment.attached
          span.attachment
            i.ace-icon.fa.fa-paperclip
        span.summary
          span.text= message.subject
        //- span.message.hide= message.message
        
  //- .message-item.message-unread
  if messages.length > 0 
    each msg in messages
      +messageItem(msg)
  else
    div &nbsp;
    span &nbsp;&nbsp;There are no messages in your #{pageTitle}
    div &nbsp;
